/*
 * Removed gutters by default Due to a pixel rounding bug in IE 10+
 * Once Google puts variables back we can use these to customize the grid
:root {
  var-half-gutter-width: 0.5rem;
  var-gutter-compensation: -0.5rem;
  var-outer-margin: 2rem;
}
*/
.grid {
  padding-right: var( outer-margin, 0 );
  padding-left: var( outer-margin, 0 );
}
.row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: var( gutter-compensation, 0 );
  margin-left: var( gutter-compensation, 0 );
}
.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: row-reverse;
  -ms-flex-wrap: row-reverse;
  flex-wrap: row-reverse;
}
.column.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-flex-wrap: column-reverse;
  -ms-flex-wrap: column-reverse;
  flex-wrap: column-reverse;
}
.column-auto-hand,
.column-1-hand,
.column-2-hand,
.column-3-hand,
.column-4-hand,
.column-5-hand,
.column-6-hand,
.column-7-hand,
.column-8-hand,
.column-9-hand,
.column-10-hand,
.column-11-hand,
.column-12-hand,
.offset-1-hand,
.offset-2-hand,
.offset-3-hand,
.offset-4-hand,
.offset-5-hand,
.offset-6-hand,
.offset-7-hand,
.offset-8-hand,
.offset-9-hand,
.offset-10-hand,
.offset-11-hand,
.offset-12-hand {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: var( half-gutter-width, 0 );
  padding-left: var( half-gutter-width, 0 );
}
.column-auto-wall,
.column-auto-desk,
.column-auto-lap,
.column-auto-hand {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0%;
  -ms-flex-preferred-size: 0%;
  flex-basis: 0%;
}
.column-1-hand {
  -webkit-flex-basis: 8.333333333%;
  -ms-flex-preferred-size: 8.333333333%;
  flex-basis: 8.333333333%;
}
.column-2-hand {
  -webkit-flex-basis: 16.666666667%;
  -ms-flex-preferred-size: 16.666666667%;
  flex-basis: 16.666666667%;
}
.column-3-hand {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}
.column-4-hand {
  -webkit-flex-basis: 33.333333333%;
  -ms-flex-preferred-size: 33.333333333%;
  flex-basis: 33.333333333%;
}
.column-5-hand {
  -webkit-flex-basis: 41.666666667%;
  -ms-flex-preferred-size: 41.666666667%;
  flex-basis: 41.666666667%;
}
.column-6-hand {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.column-7-hand {
  -webkit-flex-basis: 58.333333333%;
  -ms-flex-preferred-size: 58.333333333%;
  flex-basis: 58.333333333%;
}
.column-8-hand {
  -webkit-flex-basis: 66.666666667%;
  -ms-flex-preferred-size: 66.666666667%;
  flex-basis: 66.666666667%;
}
.column-9-hand {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
}
.column-10-hand {
  -webkit-flex-basis: 83.333333333%;
  -ms-flex-preferred-size: 83.333333333%;
  flex-basis: 83.333333333%;
}
.column-11-hand {
  -webkit-flex-basis: 91.666666667%;
  -ms-flex-preferred-size: 91.666666667%;
  flex-basis: 91.666666667%;
}
.column-12-hand {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.offset-1-hand {
  margin-left: 8.333333333%;
}
.offset-2-hand {
  margin-left: 16.666666667%;
}
.offset-3-hand {
  margin-left: 25%;
}
.offset-4-hand {
  margin-left: 33.333333333%;
}
.offset-5-hand {
  margin-left: 41.666666667%;
}
.offset-6-hand {
  margin-left: 50%;
}
.offset-7-hand {
  margin-left: 58.333333333%;
}
.offset-8-hand {
  margin-left: 66.666666667%;
}
.offset-9-hand {
  margin-left: 75%;
}
.offset-10-hand {
  margin-left: 83.333333333%;
}
.offset-11-hand {
  margin-left: 91.666666667%;
}
.start-hand {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}
.center-hand {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.end-hand {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}
.top-hand {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.middle-hand {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bottom-hand {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.around-hand {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.between-hand {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.first-hand {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.last-hand {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 48em) {

  .column-auto-lap {
    -webkit-flex-basis: 0%;
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%;
  }
  .column-1-lap {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
  }
  .column-2-lap {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
  }
  .column-3-lap {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .column-4-lap {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
  }
  .column-5-lap {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
  }
  .column-6-lap {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .column-7-lap {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
  }
  .column-8-lap {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
  }
  .column-9-lap {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }
  .column-10-lap {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
  }
  .column-11-lap {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
  }
  .column-12-lap {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .offset-1-lap {
    margin-left: 8.333333333%;
  }
  .offset-2-lap {
    margin-left: 16.666666667%;
  }
  .offset-3-lap {
    margin-left: 25%;
  }
  .offset-4-lap {
    margin-left: 33.333333333%;
  }
  .offset-5-lap {
    margin-left: 41.666666667%;
  }
  .offset-6-lap {
    margin-left: 50%;
  }
  .offset-7-lap {
    margin-left: 58.333333333%;
  }
  .offset-8-lap {
    margin-left: 66.666666667%;
  }
  .offset-9-lap {
    margin-left: 75%;
  }
  .offset-10-lap {
    margin-left: 83.333333333%;
  }
  .offset-11-lap {
    margin-left: 91.666666667%;
  }
  .start-lap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lap {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lap {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-lap {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-lap {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-lap {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-lap {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-lap {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

}

@media only screen and (min-width: 62em) {

  .column-auto-desk {
    -webkit-flex-basis: 0%;
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%;
  }
  .column-1-desk {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
  }
  .column-2-desk {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
  }
  .column-3-desk {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .column-4-desk {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
  }
  .column-5-desk {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
  }
  .column-6-desk {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .column-7-desk {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
  }
  .column-8-desk {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
  }
  .column-9-desk {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }
  .column-10-desk {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
  }
  .column-11-desk {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
  }
  .column-12-desk {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .offset-1-desk {
    margin-left: 8.333333333%;
  }
  .offset-2-desk {
    margin-left: 16.666666667%;
  }
  .offset-3-desk {
    margin-left: 25%;
  }
  .offset-4-desk {
    margin-left: 33.333333333%;
  }
  .offset-5-desk {
    margin-left: 41.666666667%;
  }
  .offset-6-desk {
    margin-left: 50%;
  }
  .offset-7-desk {
    margin-left: 58.333333333%;
  }
  .offset-8-desk {
    margin-left: 66.666666667%;
  }
  .offset-9-desk {
    margin-left: 75%;
  }
  .offset-10-desk {
    margin-left: 83.333333333%;
  }
  .offset-11-desk {
    margin-left: 91.666666667%;
  }
  .start-desk {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-desk {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-desk {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-desk {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-desk {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-desk {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-desk {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-desk {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-desk {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-desk {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

}

@media only screen and (min-width: 75em) {

  .column-auto-wall {
    -webkit-flex-basis: 0%;
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%;
  }
  .column-1-wall {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
  }
  .column-2-wall {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
  }
  .column-3-wall {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .column-4-wall {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
  }
  .column-5-wall {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
  }
  .column-6-wall {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .column-7-wall {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
  }
  .column-8-wall {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
  }
  .column-9-wall {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }
  .column-10-wall {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
  }
  .column-11-wall {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
  }
  .column-12-wall {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .offset-1-wall {
    margin-left: 8.333333333%;
  }
  .offset-2-wall {
    margin-left: 16.666666667%;
  }
  .offset-3-wall {
    margin-left: 25%;
  }
  .offset-4-wall {
    margin-left: 33.333333333%;
  }
  .offset-5-wall {
    margin-left: 41.666666667%;
  }
  .offset-6-wall {
    margin-left: 50%;
  }
  .offset-7-wall {
    margin-left: 58.333333333%;
  }
  .offset-8-wall {
    margin-left: 66.666666667%;
  }
  .offset-9-wall {
    margin-left: 75%;
  }
  .offset-10-wall {
    margin-left: 83.333333333%;
  }
  .offset-11-wall {
    margin-left: 91.666666667%;
  }
  .start-wall {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-wall {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-wall {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-wall {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-wall {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-wall {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-wall {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-wall {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-wall {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-wall {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

}

