@import 'variables';
@import 'mixins';

.container-fluid {
  @include container-fluid();
}

.row {
  @include row();
}

%column {
  @include column();
}

@include columns() {
  @extend %column;
}

@include offsets() {
  @extend %column;
}

@include breakpoints('.start') {
  justify-content: flex-start;
}

@include breakpoints('.center') {
  justify-content: center;
}

@include breakpoints('.end') {
  justify-content: flex-end;
}

@include breakpoints('.top') {
  align-items: flex-start;
}

@include breakpoints('.middle') {
  align-items: center;
}

@include breakpoints('.bottom') {
  align-items: flex-end;
}

@include breakpoints('.around') {
  justify-content: space-around;
}

@include breakpoints('.between') {
  justify-content: space-between;
}

@include breakpoints('.first') {
  order: -1;
}

@include breakpoints('.last') {
  order: 1;
}

@include breakpoints('.reverse') {
  flex-direction: row-reverse;
}

