.flexboxgrid{margin:0 auto;}
.padded{padding: 0 2rem;}
.gutters > .row {margin-left: -1rem;}
.gutters > .row > .column {padding-left: 1rem;}
.row{display:flex;flex-wrap:wrap;}
.flexboxgrid{margin:0 auto;}
.padded{padding: 0 2rem;}
.gutters > .row {margin-left: -1rem;}
.gutters > .row > .column {padding-left: 1rem;}
.row{display:flex;flex-wrap:wrap;}
.column{display:flex;flex-direction:column;flex-grow:1;}
.offset{flex:0 0 auto;}
.reverse{flex-direction:row-reverse;}
.around{justify-content:space-around;}
.between{justify-content:space-between;}
.start{justify-content:flex-start;}
.center{justify-content:center;}
.end{justify-content:flex-end;}
.top{align-items:flex-start;}
.middle{align-items:center;}
.bottom{align-items:flex-end;}
.stretch{align-items:stretch;}
.first{order:-1;}
.last{order:1;}
@media only screen and (min-width:30em) {
.column-sm{display:flex;flex-direction:column;flex-grow:1;}
.column-sm-1{display:flex;flex-direction:column;flex-basis:calc(100%/12)*1);max-width:calc(100%/12)*1);}
.column-sm-2{display:flex;flex-direction:column;flex-basis:calc(100%/12)*2);max-width:calc(100%/12)*2);}
.column-sm-3{display:flex;flex-direction:column;flex-basis:calc(100%/12)*3);max-width:calc(100%/12)*3);}
.column-sm-4{display:flex;flex-direction:column;flex-basis:calc(100%/12)*4);max-width:calc(100%/12)*4);}
.column-sm-5{display:flex;flex-direction:column;flex-basis:calc(100%/12)*5);max-width:calc(100%/12)*5);}
.column-sm-6{display:flex;flex-direction:column;flex-basis:calc(100%/12)*6);max-width:calc(100%/12)*6);}
.column-sm-7{display:flex;flex-direction:column;flex-basis:calc(100%/12)*7);max-width:calc(100%/12)*7);}
.column-sm-8{display:flex;flex-direction:column;flex-basis:calc(100%/12)*8);max-width:calc(100%/12)*8);}
.column-sm-9{display:flex;flex-direction:column;flex-basis:calc(100%/12)*9);max-width:calc(100%/12)*9);}
.column-sm-10{display:flex;flex-direction:column;flex-basis:calc(100%/12)*10);max-width:calc(100%/12)*10);}
.column-sm-11{display:flex;flex-direction:column;flex-basis:calc(100%/12)*11);max-width:calc(100%/12)*11);}
.column-sm-12{display:flex;flex-direction:column;flex-basis:calc(100%/12)*12);max-width:calc(100%/12)*12);}
.offset-sm{flex:0 0 auto;}
.offset-sm-1{flex:0 0 auto;margin-left:calc(100%/12)*1);}
.offset-sm-2{flex:0 0 auto;margin-left:calc(100%/12)*2);}
.offset-sm-3{flex:0 0 auto;margin-left:calc(100%/12)*3);}
.offset-sm-4{flex:0 0 auto;margin-left:calc(100%/12)*4);}
.offset-sm-5{flex:0 0 auto;margin-left:calc(100%/12)*5);}
.offset-sm-6{flex:0 0 auto;margin-left:calc(100%/12)*6);}
.offset-sm-7{flex:0 0 auto;margin-left:calc(100%/12)*7);}
.offset-sm-8{flex:0 0 auto;margin-left:calc(100%/12)*8);}
.offset-sm-9{flex:0 0 auto;margin-left:calc(100%/12)*9);}
.offset-sm-10{flex:0 0 auto;margin-left:calc(100%/12)*10);}
.offset-sm-11{flex:0 0 auto;margin-left:calc(100%/12)*11);}
.offset-sm-12{flex:0 0 auto;margin-left:calc(100%/12)*12);}
.reverse-sm{flex-direction:row-reverse;}
.around-sm{justify-content:space-around;}
.between-sm{justify-content:space-between;}
.start-sm{justify-content:flex-start;}
.center-sm{justify-content:center;}
.end-sm{justify-content:flex-end;}
.top-sm{align-items:flex-start;}
.middle-sm{align-items:center;}
.bottom-sm{align-items:flex-end;}
.stretch-sm{align-items:stretch;}
.first-sm{order:-1;}
.last-sm{order:1;}
}
@media only screen and (min-width:48em) {
.column-md{display:flex;flex-direction:column;flex-grow:1;}
.column-md-1{display:flex;flex-direction:column;flex-basis:calc(100%/12)*1);max-width:calc(100%/12)*1);}
.column-md-2{display:flex;flex-direction:column;flex-basis:calc(100%/12)*2);max-width:calc(100%/12)*2);}
.column-md-3{display:flex;flex-direction:column;flex-basis:calc(100%/12)*3);max-width:calc(100%/12)*3);}
.column-md-4{display:flex;flex-direction:column;flex-basis:calc(100%/12)*4);max-width:calc(100%/12)*4);}
.column-md-5{display:flex;flex-direction:column;flex-basis:calc(100%/12)*5);max-width:calc(100%/12)*5);}
.column-md-6{display:flex;flex-direction:column;flex-basis:calc(100%/12)*6);max-width:calc(100%/12)*6);}
.column-md-7{display:flex;flex-direction:column;flex-basis:calc(100%/12)*7);max-width:calc(100%/12)*7);}
.column-md-8{display:flex;flex-direction:column;flex-basis:calc(100%/12)*8);max-width:calc(100%/12)*8);}
.column-md-9{display:flex;flex-direction:column;flex-basis:calc(100%/12)*9);max-width:calc(100%/12)*9);}
.column-md-10{display:flex;flex-direction:column;flex-basis:calc(100%/12)*10);max-width:calc(100%/12)*10);}
.column-md-11{display:flex;flex-direction:column;flex-basis:calc(100%/12)*11);max-width:calc(100%/12)*11);}
.column-md-12{display:flex;flex-direction:column;flex-basis:calc(100%/12)*12);max-width:calc(100%/12)*12);}
.offset-md{flex:0 0 auto;}
.offset-md-1{flex:0 0 auto;margin-left:calc(100%/12)*1);}
.offset-md-2{flex:0 0 auto;margin-left:calc(100%/12)*2);}
.offset-md-3{flex:0 0 auto;margin-left:calc(100%/12)*3);}
.offset-md-4{flex:0 0 auto;margin-left:calc(100%/12)*4);}
.offset-md-5{flex:0 0 auto;margin-left:calc(100%/12)*5);}
.offset-md-6{flex:0 0 auto;margin-left:calc(100%/12)*6);}
.offset-md-7{flex:0 0 auto;margin-left:calc(100%/12)*7);}
.offset-md-8{flex:0 0 auto;margin-left:calc(100%/12)*8);}
.offset-md-9{flex:0 0 auto;margin-left:calc(100%/12)*9);}
.offset-md-10{flex:0 0 auto;margin-left:calc(100%/12)*10);}
.offset-md-11{flex:0 0 auto;margin-left:calc(100%/12)*11);}
.offset-md-12{flex:0 0 auto;margin-left:calc(100%/12)*12);}
.reverse-md{flex-direction:row-reverse;}
.around-md{justify-content:space-around;}
.between-md{justify-content:space-between;}
.start-md{justify-content:flex-start;}
.center-md{justify-content:center;}
.end-md{justify-content:flex-end;}
.top-md{align-items:flex-start;}
.middle-md{align-items:center;}
.bottom-md{align-items:flex-end;}
.stretch-md{align-items:stretch;}
.first-md{order:-1;}
.last-md{order:1;}
}
@media only screen and (min-width:75em) {
.column-lg{display:flex;flex-direction:column;flex-grow:1;}
.column-lg-1{display:flex;flex-direction:column;flex-basis:calc(100%/12)*1);max-width:calc(100%/12)*1);}
.column-lg-2{display:flex;flex-direction:column;flex-basis:calc(100%/12)*2);max-width:calc(100%/12)*2);}
.column-lg-3{display:flex;flex-direction:column;flex-basis:calc(100%/12)*3);max-width:calc(100%/12)*3);}
.column-lg-4{display:flex;flex-direction:column;flex-basis:calc(100%/12)*4);max-width:calc(100%/12)*4);}
.column-lg-5{display:flex;flex-direction:column;flex-basis:calc(100%/12)*5);max-width:calc(100%/12)*5);}
.column-lg-6{display:flex;flex-direction:column;flex-basis:calc(100%/12)*6);max-width:calc(100%/12)*6);}
.column-lg-7{display:flex;flex-direction:column;flex-basis:calc(100%/12)*7);max-width:calc(100%/12)*7);}
.column-lg-8{display:flex;flex-direction:column;flex-basis:calc(100%/12)*8);max-width:calc(100%/12)*8);}
.column-lg-9{display:flex;flex-direction:column;flex-basis:calc(100%/12)*9);max-width:calc(100%/12)*9);}
.column-lg-10{display:flex;flex-direction:column;flex-basis:calc(100%/12)*10);max-width:calc(100%/12)*10);}
.column-lg-11{display:flex;flex-direction:column;flex-basis:calc(100%/12)*11);max-width:calc(100%/12)*11);}
.column-lg-12{display:flex;flex-direction:column;flex-basis:calc(100%/12)*12);max-width:calc(100%/12)*12);}
.offset-lg{flex:0 0 auto;}
.offset-lg-1{flex:0 0 auto;margin-left:calc(100%/12)*1);}
.offset-lg-2{flex:0 0 auto;margin-left:calc(100%/12)*2);}
.offset-lg-3{flex:0 0 auto;margin-left:calc(100%/12)*3);}
.offset-lg-4{flex:0 0 auto;margin-left:calc(100%/12)*4);}
.offset-lg-5{flex:0 0 auto;margin-left:calc(100%/12)*5);}
.offset-lg-6{flex:0 0 auto;margin-left:calc(100%/12)*6);}
.offset-lg-7{flex:0 0 auto;margin-left:calc(100%/12)*7);}
.offset-lg-8{flex:0 0 auto;margin-left:calc(100%/12)*8);}
.offset-lg-9{flex:0 0 auto;margin-left:calc(100%/12)*9);}
.offset-lg-10{flex:0 0 auto;margin-left:calc(100%/12)*10);}
.offset-lg-11{flex:0 0 auto;margin-left:calc(100%/12)*11);}
.offset-lg-12{flex:0 0 auto;margin-left:calc(100%/12)*12);}
.reverse-lg{flex-direction:row-reverse;}
.around-lg{justify-content:space-around;}
.between-lg{justify-content:space-between;}
.start-lg{justify-content:flex-start;}
.center-lg{justify-content:center;}
.end-lg{justify-content:flex-end;}
.top-lg{align-items:flex-start;}
.middle-lg{align-items:center;}
.bottom-lg{align-items:flex-end;}
.stretch-lg{align-items:stretch;}
.first-lg{order:-1;}
.last-lg{order:1;}
}

