.grid-margin {
  box-sizing: border-box;
  padding: 0 2rem;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.row.reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: row-reverse;
}
.column {
  display: flex;
  flex-direction: column;
}
.column.reverse {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: column-reverse;
}
.row,
.column,
.column-1--hand,
.column-2--hand,
.column-3--hand,
.column-4--hand,
.column-5--hand,
.column-6--hand,
.column-7--hand,
.column-8--hand,
.column-9--hand,
.column-10--hand,
.column-11--hand,
.column-12--hand,
.column-auto--hand,
.offset-1--hand,
.offset-2--hand,
.offset-3--hand,
.offset-4--hand,
.offset-5--hand,
.offset-6--hand,
.offset-7--hand,
.offset-8--hand,
.offset-9--hand,
.offset-10--hand,
.offset-11--hand,
.offset-12--hand {
  box-sizing: border-box;
  padding: 0 0.5rem;
}
.column-1--hand {
  flex: 0 0 8.333%;
}
.column-2--hand {
  flex: 0 0 16.666%;
}
.column-3--hand {
  flex: 0 0 25%;
}
.column-4--hand {
  flex: 0 0 33.333%;
}
.column-5--hand {
  flex: 0 0 41.666%;
}
.column-6--hand {
  flex: 0 0 50%;
}
.column-7--hand {
  flex: 0 0 58.333%;
}
.column-8--hand {
  flex: 0 0 66.666%;
}
.column-9--hand {
  flex: 0 0 75%;
}
.column-10--hand {
  flex: 0 0 83.333%;
}
.column-11--hand {
  flex: 0 0 91.666%;
}
.column-12--hand {
  flex: 0 0 100%;
}
.column-auto--hand {
  flex: 1;
}
.offset-1--hand {
  margin-left: 8.333%;
}
.offset-2--hand {
  margin-left: 16.666%;
}
.offset-3--hand {
  margin-left: 25%;
}
.offset-4--hand {
  margin-left: 33.333%
}
.offset-5--hand {
  margin-left: 41.666%;
}
.offset-6--hand {
  margin-left: 50%;
}
.offset-7--hand {
  margin-left: 58.333%;
}
.offset-8--hand {
  margin-left: 66.666%;
}
.offset-9--hand {
  margin-left: 75%;
}
.offset-10--hand {
  margin-left: 83.333%;
}
.offset-11--hand {
  margin-left: 91.666%;
}
.top {
  align-self: flex-start;
}
.start {
  align-items: flex-start;
  text-align: start;
  justify-content: start;
}
.center {
  align-self: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.bottom {
  align-self: flex-end;
}
.end {
  align-items: flex-end;
  text-align: end;
  justify-content: flex-end;
}
.around {
  justify-content: space-around;
}
.between {
  justify-content: space-between;
}
.first {
  order: -1;
}
.last {
  order: 1;
}

@media only screen and (min-width: 48rem) {

  .column-1--lap {
    flex: 0 0 8.333%;
  }
  .column-2--lap {
    flex: 0 0 16.666%;
  }
  .column-3--lap {
    flex: 0 0 25%;
  }
  .column-4--lap {
     flex: 0 0 33.333%;
  }
  .column-5--lap {
     flex: 0 0 41.666%;
  }
  .column-6--lap {
     flex: 0 0 50%;
  }
  .column-7--lap {
     flex: 0 0 58.333%;
  }
  .column-8--lap {
     flex: 0 0 66.666%;
  }
  .column-9--lap {
     flex: 0 0 75%;
  }
  .column-10--lap {
     flex: 0 0 83.333%;
  }
  .column-11--lap {
     flex: 0 0 91.666%;
  }
  .column-12--lap {
     flex: 0 0 100%;
  }
  .column-auto--lap {
    flex: 1;
  }
  .offset-1--lap {
    margin-left: 8.333%;
  }
  .offset-2--lap {
    margin-left: 16.666%;
  }
  .offset-3--lap {
    margin-left: 25%;
  }
  .offset-4--lap {
    margin-left: 33.333%
  }
  .offset-5--lap {
    margin-left: 41.666%;
  }
  .offset-6--lap {
    margin-left: 50%;
  }
  .offset-7--lap {
    margin-left: 58.333%;
  }
  .offset-8--lap {
    margin-left: 66.666%;
  }
  .offset-9--lap {
    margin-left: 75%;
  }
  .offset-10--lap {
    margin-left: 83.333%;
  }
  .offset-11--lap {
    margin-left: 91.666%;
  }

}

@media only screen and (min-width: 62rem) {

  .column-1--desk {
    flex: 0 0 8.333%;
  }
  .column-2--desk {
    flex: 0 0 16.666%;
  }
  .column-3--desk {
    flex: 0 0 25%;
  }
  .column-4--desk {
     flex: 0 0 33.333%;
  }
  .column-5--desk {
     flex: 0 0 41.666%;
  }
  .column-6--desk {
     flex: 0 0 50%;
  }
  .column-7--desk {
     flex: 0 0 58.333%;
  }
  .column-8--desk {
     flex: 0 0 66.666%;
  }
  .column-9--desk {
     flex: 0 0 75%;
  }
  .column-10--desk {
     flex: 0 0 83.333%;
  }
  .column-11--desk {
     flex: 0 0 91.666%;
  }
  .column-12--desk {
     flex: 0 0 100%;
  }
  .column-auto--desk {
    flex: 1;
  }
  .offset-1--desk {
    margin-left: 8.333%;
  }
  .offset-2--desk {
    margin-left: 16.666%;
  }
  .offset-3--desk {
    margin-left: 25%;
  }
  .offset-4--desk {
    margin-left: 33.333%
  }
  .offset-5--desk {
    margin-left: 41.666%;
  }
  .offset-6--desk {
    margin-left: 50%;
  }
  .offset-7--desk {
    margin-left: 58.333%;
  }
  .offset-8--desk {
    margin-left: 66.666%;
  }
  .offset-9--desk {
    margin-left: 75%;
  }
  .offset-10--desk {
    margin-left: 83.333%;
  }
  .offset-11--desk {
    margin-left: 91.666%;
  }
}

@media only screen and (min-width: 75rem) {

  .column-1--wall {
    flex: 0 0 8.333%;
  }
  .column-2--wall {
    flex: 0 0 16.666%;
  }
  .column-3--wall {
    flex: 0 0 25%;
  }
  .column-4--wall {
     flex: 0 0 33.333%;
  }
  .column-5--wall {
     flex: 0 0 41.666%;
  }
  .column-6--wall {
     flex: 0 0 50%;
  }
  .column-7--wall {
     flex: 0 0 58.333%;
  }
  .column-8--wall {
     flex: 0 0 66.666%;
  }
  .column-9--wall {
     flex: 0 0 75%;
  }
  .column-10--wall {
     flex: 0 0 83.333%;
  }
  .column-11--wall {
     flex: 0 0 91.666%;
  }
  .column-12--wall {
     flex: 0 0 100%;
  }
  .column-auto--wall {
    flex: 1;
  }
  .offset-1--wall {
    margin-left: 8.333%;
  }
  .offset-2--wall {
    margin-left: 16.666%;
  }
  .offset-3--wall {
    margin-left: 25%;
  }
  .offset-4--wall {
    margin-left: 33.333%
  }
  .offset-5--wall {
    margin-left: 41.666%;
  }
  .offset-6--wall {
    margin-left: 50%;
  }
  .offset-7--wall {
    margin-left: 58.333%;
  }
  .offset-8--wall {
    margin-left: 66.666%;
  }
  .offset-9--wall {
    margin-left: 75%;
  }
  .offset-10--wall {
    margin-left: 83.333%;
  }
  .offset-11--wall {
    margin-left: 91.666%;
  }

}

