.grid-margin {
  box-sizing: border-box;
  padding: 0 2rem;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.row.reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: row-reverse;
}
.column {
  display: flex;
  flex-direction: column;
}
.column.reverse {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: column-reverse;
}
.column-1,
.column-2,
.fourth,
.column-3,
.third,
.column-4,
.column-5,
.half,
.column-6,
.column-7,
.two-thirds,
.column-8,
.three-fourths,
.column-9,
.column-10,
.column-11,
.full,
.column-12 {
  flex: 1 0 100%;
}

.offset-1,
.offset-2,
.offset-3,
.offset-4,
.offset-5,
.offset-6,
.offset-7,
.offset-8,
.offset-9,
.offset-10,
.offset-11,
.offset-12 {
  margin-left: 0;
}

.row,
.column,
.auto,
.column-1,
.column-2,
.fourth,
.column-3,
.third,
.column-4,
.column-5,
.half,
.column-6,
.column-7,
.two-thirds,
.column-8,
.three-fourths,
.column-9,
.column-10,
.column-11,
.full,
.column-12,
.offset-1,
.offset-2,
.offset-3,
.offset-4,
.offset-5,
.offset-6,
.offset-7,
.offset-8,
.offset-9,
.offset-10,
.offset-11,
.offset-12 {
  box-sizing: border-box;
  padding: 0 0.5rem;
}
.auto {
  flex: 1;
}
.top {
   align-self: flex-start;
}
.start {
   align-items: flex-start;
   justify-content: start;
}
.center {
   align-self: center;
   align-items: center;
   text-align: center;
   justify-content: center;
}
.bottom {
   align-self: flex-end;
}
.end {
   align-items: flex-end;
   text-align: end;
   justify-content: flex-end;
}
.around {
  justify-content: space-around;
}
.between {
  justify-content: space-between;
}
.first {
  order: -1;
}
.last {
  order: 1;
}

@media only screen and (min-width: 33rem) {

  .column-1 {
    flex: 0 0 8.333%;
  }
  .column-2 {
    flex: 0 0 16.666%;
  }
  .fourth,
  .column-3 {
    flex: 0 0 25%;
  }
  .third,
  .column-4 {
     flex: 0 0 33.333%;
  }
  .column-5 {
     flex: 0 0 41.666%;
  }
  .half,
  .column-6 {
     flex: 0 0 50%;
  }
  .column-7 {
     flex: 0 0 58.333%;
  }
  .two-thirds,
  .column-8 {
     flex: 0 0 66.666%;
  }
  .three-fourths,
  .column-9 {
     flex: 0 0 75%;
  }
  .column-10 {
     flex: 0 0 83.333%;
  }
  .column-11 {
     flex: 0 0 91.666%;
  }
  .full,
  .column-12 {
     flex: 0 0 100%;
  }

  .offset-1 {
    margin-left: 8.333%;
  }
  .offset-2 {
    margin-left: 16.666%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .offset-4 {
    margin-left: 33.333%
  }
  .offset-5 {
    margin-left: 41.666%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .offset-7 {
    margin-left: 58.333%;
  }
  .offset-8 {
    margin-left: 66.666%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .offset-10 {
    margin-left: 83.333%;
  }
  .offset-11 {
    margin-left: 91.666%;
  }

}
