body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    background: #EEE;
    line-height: 1.4rem;
}
a {
    text-decoration: none;
    color: #007FFF;
    padding: 0 0 0.2rem 0;
    font-weight: bold;
}
a:hover {
    border-bottom: 1px solid #007FFF;
    color: #007FFF;
}
pre {
  overflow-x: auto;
  padding: 1.25em;
  border: 1px solid #e6e6e6;
  border-left-width: 5px;
  margin: 1.6em 0;
  font-size: 0.875em;
  background: #fcfcfc;
  white-space: pre;
  word-wrap: normal;
}
code {
  color: #007FFF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #001A33;
}
.wrap {
    box-sizing: border-box;
    max-width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.page-section {
  margin-bottom: 3rem;
}
.box--first,
.box--nested,
.box--large,
.box {
  position: relative;
  box-sizing: border-box;
  min-height: 1rem;
  padding: 1rem;
  background: #007FFF;
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: white;
}
.box {
  margin-bottom: 1rem;
}
.box--first {
  background: #0066CC;
  border: none;
}
.box--nested {
  background: #003366;
  border: none;
}
.box--large {
  padding: 8rem;
}
.page-footer {
  box-sizing:border-box;
  padding-bottom: 3rem;
}
.tag {
  color: #000;
  font-weight: normal;
}

